
<h1>Store</h1>

<table>
    <thead class="w-10 px-10">
        <tr>
        <th>Product</th>
        <th>Price</th>
        </tr>
    </thead>
    <tbody id="content">
        
    </tbody>
</table>

<script>
    const store = document.querySelector('#content');
    function renderStore() {
        fetch('../data/store.json')
            .then(res => res.json())
            .then(data => {
                storeData(data)
                console.log(data)
            })
    }
    function storeData(data){
        console.log(data)
        for(let value of data){
            store.innerHTML += `
                <tr>
                    <td>${value.title}</td>
                    <td><code>${value.url}</code></td>
                </tr>
            `
        }
    }
</script>