---
import '../main.css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" href="/Favicon/favicon.ico" type="image/x-icon">
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/Favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/Favicon/favicon-16x16.png">
	<link rel="manifest" href="/Favicon/site.webmanifest">
	<link rel="mask-icon" href="/Favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">
	
</head>
<body>
	<div class="bg-fixed bg-image" style="background-image: url(/BG.png);"></div>
	<style>
		div.bg-image {
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: -1;
			width: 100%;
			height: 100%;
			-webkit-filter: blur(20px);
			filter: blur(20px);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			user-select: none;
			opacity: 0.5;
		}
	</style>
	<slot />
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
